AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me

DYNAMODB_USERS_TABLE=InternStore-Users
DYNAMODB_PRODUCTS_TABLE=InternStore-Products
DYNAMODB_CATEGORIES_TABLE=InternStore-Categories
DYNAMODB_CART_TABLE=InternStore-Cart
DYNAMODB_WISHLIST_TABLE=InternStore-Wishlist

DEMO_USER_ID=demo-user-1
